*{ 
    box-sizing: border-box;
    padding: 0;
    margin: 0 ;
}
main{
    width: 100%;
    margin : auto;
  
    min-height: 800px;
}


body::-webkit-scrollbar {
    width: 10px;  
    
}

body::-webkit-scrollbar-thumb {
    background: #6f6f70;
    border-radius:10px;
}

body::-webkit-scrollbar-track {
    border-radius:10px;
    background: rgba(0, 0, 0, 0.8);  
}

/* ----------헤더------ */
header{
    height: 130px;
    display: flex;
    flex-direction: column;
    background-color: #13151b;
    position: sticky;
    /* 화면 밖으로 벗어났을 때 
    지정된 위치에 고정*/
    z-index: 1000;
    top : 0; /* 최상단에 붙임 */
}

header > section:nth-of-type(1){
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.search-wrap{
    width: 100%;
    max-width: 1000px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-radius: 10px;
}
.search-wrap > label{
    line-height: 40px;
    width: 30px;
    height: 40px;
    text-align: center;
    
}
.search-wrap i{
    margin: 0;
    width: 30px;
    height: 30px;
   
}
#userSearch{
    width: 95%;
    max-width: 1000px;
    height: 35px;
    border: none;
    background-color: gray;
    cursor: pointer;
    outline: none;
    
}

#userSearch::placeholder{
    color: white;
}

#LanguageChange{
    margin-left: 20px;
    width: 80px;
    height: 40px;
    border: none;
    background-color: #13151b;
    color: gray;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

#LanguageChange:hover{
    background-color: azure;
}

header > section:nth-of-type(2){
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#nav{
 
    width: 100%;
    max-width: 1100px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    list-style: none;
}

#nav>li{
    padding: 0 10px;
    height: auto;
}

#nav>li a{
    text-decoration: none;
    color: gainsboro;
}
#nav>li a:hover{
    color: white;
}

#lolLogo{
    padding-top: 5px;
    width: 35px;
    height: auto;
}

/* =========================헤더끝============= */


/*============= 메인콘텐츠 시작======== */

.main-wrap{
    width: 100%;
    height: 100%;
}

.content-wrap{
    width: 100%;
    height: 500px;
    border: 1px solid black;

}

.top-content{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("https://blitz-cdn.blitz.gg/blitz/ui/img/game-bg/lol-f455c.webp");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* opacity: 0.9; */
    /* filter: brightness(50%) */
    background-position : top 30% right; 
}

.top-content > div{
    z-index: 10;
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tcFirst{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#tcFirst>p{
    color: white;
    font-weight: bold;
    font-size: 28px;
}

#tcSecond{
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin: 30px 0;
}

#tcUserSearch{
    padding-left: 10px;
    width: 95%;
    max-width: 1000px;
    height: 35px;
    border: none;
    background-color: white;
    cursor: pointer;
    outline: none;
}


#tcThird{
    width: 200px;
    height: 50px;
}

#tcThird>a{
    line-height: 45px;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(209, 39, 53);
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 7px;
    font-size: 17px;
}

/* 메인 끝 */


/* ---- 푸터시작---------- */

footer{
    width: 100%;
    height: 300px;
    background-color: rgb(19, 18, 18);
    display: flex;
    justify-content: center;
    color: rgb(216, 216, 216);
}
footer > div{
    width: 100%;
    max-width: 1100px;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#ftFirst{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

#ftFirst > img{
    width: 100px;
}

#ftFirst > a{
    margin-top: 40px;
    text-align: center;
    display: inline-block;
    width: 120px;
    line-height: 40px;
    border-radius: 5px;
    height: 40px;
    text-decoration: none;
    color: white;
    background-color: #e2343c;
    font-weight: bold;
}
.ft-wrap{
    padding-top: 30px;
    padding-left: 10px;
    /* border: 1px solid rgb(255, 255, 255); */
    width: 100%;
}

.ft-ul{
    list-style: none;
}

.ft-ul > li:first-child{
    color: #6f6f70;
    font-size: 12px;
}

.ft-ul > li{
    margin: 10px 0;
}

/* ============푸터 끝======== */